h1{
	color:red;
	margin-top: 1.5em;
}

hr{
	color:blue;
}


h2{
	color: black;
}

body{
	margin: 2cm;
	font-family: sans-serif;
}


code{
	font-size: 2rem;
	color: gray;
}
© 2021 GitHub, Inc.
Terms