h1 {
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;  
  padding: 205px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
body {;background-color:#F4F3F6;>
}
div {border: 1px solid black;
  background-color: aliceblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-family: 'Playfair Display', serif;
}
span{
	text-decoration: underline;
	color: pink;
	text-shadow: 2px 2px 2px;
}

.centro{
  text-align: center;
}
